@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text-color-one{
  /* color : #0F0F0F; */
  color : #4C0182;

}

.text-color-two{
  /* color : #FFFFFF; */
  color : #0F0F0F;

}

.marquee-content {
  display: inline-flex;
  overflow-y: hidden;
  column-gap: 20px;
  transform: skewX(0.991deg);
}


.marquee-content {
  display: inline-flex;
  overflow-y: hidden;
  column-gap: 20px;
  transform: skewX(0.991deg);
}
